@import url(https://fonts.googleapis.com/css?family=Erica+One);

body{

background-color: #e7e5e4;    margin: auto;

    padding: auto;

}

img{

	width: 70%;

	height: 50%

}

p{

	color: white;

	display: inline-block;

}

#contenedor_principal{

width:1024px;

height:auto;

position:relative;

margin:auto;

}

.contenedor_imagen_texto{

width:335px;

height:auto;

position:relative;

display:inline-block;

vertical-align:top;

overflow:hidden;

}

.imagen{

width:100%;

height:auto;

position:relative;

display:inline;



}

.imagen1{

	margin-top: 30px;

}

.imagen2{

	width:33%;

}

.imagen3{

	margin-top: 50px;

}


p {

  cursor: default;

  position: absolute;

  top: 30px;

  left: 0;

  right: 0;

  bottom: 0;

  height: 100px;

  margin: auto;

  display: block;

  

  -webkit-animation: bounce .3s ease infinite alternate;

  

  font-family: 'Erica One', cursive;

  font-size: 70px;

  color: #000;

  text-align: center;

  line-height: 100px;

  text-shadow: 0 1px 0 #CCC,

               0 2px 0 #CCC,

               0 3px 0 #CCC,

               0 4px 0 #CCC,

               0 5px 0 #CCC,

               0 6px 0 transparent,

               0 7px 0 transparent,

               0 8px 0 transparent,

               0 9px 0 transparent,

               0 10px 10px rgba(0, 0, 0, .6);

}

/* ANIMATION */

@-webkit-keyframes bounce {

  100% {

    top: -30px;

    

    text-shadow: 0 1px 0 #CCC,

                 0 2px 0 #CCC,

                 0 3px 0 #CCC,

                 0 4px 0 #CCC,

                 0 5px 0 #CCC,

                 0 6px 0 #CCC,

                 0 7px 0 #CCC,

                 0 8px 0 #CCC,

                 0 9px 0 #CCC,

                 0 30px 30px rgba(0, 0, 0, .3);

  }

}